table {
  width: 100%;
}
.mat-toolbar-row, .mat-toolbar-single-row{
  height: 40px;
}
.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.mat-header-cell{
  text-align: left;
  background-color: lightgray;
}

.mat-row
{
  position: relative;
}

