<mat-card>
<mat-tab-group>
<mat-tab label="Lista">

<br />
<div class="button-row">

      <h1>prueba</h1>
      <h3>Book Details with Promise</h3>
      <ul>
        <li *ngFor="let book of promiseunidades | async" >
          Id: {{book.id}}, Name: {{book.codigo}}
          <button mat-icon-button color="accent">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="accent">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
        </li>
      </ul>

      <h3>Book Details after "then" to Promise </h3>
      <ul>
        <li *ngFor="let book of unidades" >
          Id: {{book.id}}, Name: {{book.codigo}}
        </li>
      </ul>

      <div *ngIf="errorMessage"> {{errorMessage}} </div> 
</div>

<br />
</mat-tab>
<mat-tab label="Detalle">

<br />
<div class="button-row">

      <h1>porfis</h1>
      <h3>Book Details with Promise</h3>
      <ul>
        <li *ngFor="let book of promiseunidades | async" >
          Id: {{book.id}}, Name: {{book.codigo}}
          <button mat-icon-button color="accent">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="accent">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
        </li>
      </ul>

      <h3>Book Details after "then" to Promise </h3>
      <ul>
        <li *ngFor="let book of unidades" >
          Id: {{book.id}}, Name: {{book.codigo}}
        </li>
      </ul>

      <div *ngIf="errorMessage"> {{errorMessage}} </div> 
</div>

<br />
</mat-tab>
</mat-tab-group>
</mat-card>
