<mat-card>
  <mat-toolbar-row style="background: #f3ffdc;color: darkgray; height: 40px; ">
    <span>Registro Principal - Unidades de Transporte</span>
    <span style="flex: 1 1 auto;" class="example-spacer"></span>
    <mat-form-field class="pantallafiltro">
      <input matInput placeholder="Filtro">
    </mat-form-field>
    <button mat-stroked-button class="botonimprimir" (click)="openPrint()">
      Imprimir</button>
    <button mat-stroked-button ng-click="isValid = !isValid" (click)="addRecord()" class="botonnuevo">
      Nuevo</button>
    <button mat-stroked-button (click)="deleteAllSelecteds()" class="botoneliminar" color="warn">
      Eliminar</button>
  </mat-toolbar-row>



  <!--   <mat-toolbar style="background: #f3ffdc;color: darkgray; height: 40px; ">
    <span>Registro Principal - Unidades de Transporte</span>

    <table class="example-full-width" cellspacing="0">
      <div class="left">
        <mat-form-field class="pantallafiltro">
          <input matInput placeholder="Filtro">
        </mat-form-field>
      </div>

      <div class="left" style="float: right;">
        <button mat-icon-button color="accent">
          <mat-icon color="primary" (click)="openPrint()" class="example-icon" style="padding: 10px;">print</mat-icon>
        </button>

        <button ng-click="isValid = !isValid" mat-icon-button (click)="addRecord()" color="accent">
          <mat-icon color="primary" class="example-icon" style="padding: 10px;">add_circle</mat-icon>
        </button>

        <button mat-icon-button color="accent">
          <mat-icon color="primary" class="example-icon" style="color: red;" (click)="deleteAllSelecteds()">remove_circle</mat-icon>
        </button>
      </div>
    </table>
  </mat-toolbar> -->

  <div class="button-row">
    <section class='tableSection'>
      <div class="spinner-container">
        <!--<mat-spinner></mat-spinner>-->
      </div>
      <div [hidden]="edit">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!--<li *ngFor="let book of promisclientes | async">-->
          <!--</li>-->
          <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>


          <!--displayedColumns: string[] = ['select', 'id', 'codigo', 'ruc' , 'nombre', 'telefono1', 'correo', 'options']; Name Column -->


          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef> CODIGO</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.codigo}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef> DESCRIPCION</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.descripcion}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="placa">
            <mat-header-cell *matHeaderCellDef> PLACA</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.placa}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="npasajeros">
            <mat-header-cell *matHeaderCellDef>PASAJEROS</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.npasajeros}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="color">
            <mat-header-cell *matHeaderCellDef>COLOR</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.color}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef> Options</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button (click)="editRecord(row.id)" mat-icon-button color="accent">
                <mat-icon style="color: steelblue;vertical-align:baseline" aria-label="Edit">edit</mat-icon>
              </button>

              <button (click)="delete(row.id)" mat-icon-button color="accent">
                <mat-icon style="color: steelblue;vertical-align:baseline" aria-label="Delete">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row matRipple routerLink="/unidades" routerLinkActive="editRecord(row.id)" class="element-row"
            *matRowDef="let row; columns: displayedColumns;">
          </mat-row>

        </mat-table>
        <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>

      </div>
      <div [hidden]="!edit">
        <app-editunidades [id]="selectedId" (back)="showDataTable()" (update)="updateDataTable($event)"></app-editunidades>
      </div>
    </section>
  </div>
</mat-card>