<!-- <div class="example-container">
  <form [formGroup]="formAuth">
    <mat-form-field>
      <input matInput placeholder="Usuario" formControlName="username">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Contraseña" formControlName="password">
    </mat-form-field>

    <button (click)="authenticate()">Iniciar</button>
  </form>
</div>
 -->

<mat-card>
  <mat-toolbar>
    <h2 class="example-h2">Login!</h2>
  </mat-toolbar>

  <form [formGroup]="formAuth">
    <div>
      <!-- <i class="material-icons prefix">account_circle</i> -->
      <mat-form-field>

        <input matInput placeholder="Usuario" formControlName="username">
      </mat-form-field>
    </div>
    <div>
     <!--  <i class="material-icons prefix">vpn_key</i> -->
      <mat-form-field>

        <input type="password" matInput placeholder="Contraseña" formControlName="password">
      </mat-form-field>
    </div>



    <div>
      <!-- <button mat-raised-button color="primary" type="submit">REGISTER</button> -->
      <button mat-raised-button style="background: #d35400; color:white" (click)="authenticate()">Iniciar</button>
    </div>
  </form>
</mat-card>