
<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Gestion Administrativa</h1>
  </mat-toolbar>

<mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
                <a mat-list-item  [routerLink]="[item.route]"
                          [routerLinkActive]="['active']"
                          [routerLink]="">
                <mat-icon class="tc-blue-grey-700">{{item.icon}}</mat-icon>
                {{item.title}}
                </a>
                  
              </ng-template>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!--<mat-toolbar color="success">-->
          <mat-toolbar style="background: antiquewhite;">
          <span>Titulo de Formulario</span>
          <span class="example-spacer"></span>
          <mat-icon color="primary" class="example-icon">add</mat-icon>
          <mat-icon color="primary" class="example-icon">delete</mat-icon>     
        </mat-toolbar>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  





    
      

</mat-sidenav-container>
</div>
<!--
<mat-sidenav-container>
  
  <mat-sidenav #sidenav>
      <mat-nav-list>
        <h2 mdSubheader>Here are some links to help you start: </h2>
        <a mat-list-item target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a>
        <a mat-list-item target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
        <a mat-list-item target="_blank" href="https://blog.angular.io/">Angular blog</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
      <button type="button" mat-button (click)="sidenav.open()">Menu</button>
      <h1>Welcome to {{title}}!</h1>
  </mat-toolbar>

  <div class="content">
      <img width="300" src="data:image/svg+xml;base64,AquiVaElBase64">
  </div>
  
</mat-sidenav-container>
-->


