
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="example-container">

  <mat-form-field class="form-group">  
        <input matInput formControlName="nombre" class="form-control" placeholder="Nombre" />
  </mat-form-field> 

    <br>
    <mat-form-field class="form-group">
      <input  matInput  formControlName="codigo" class="form-control" placeholder="Codigo">
    </mat-form-field>
    <br>


<div class="form-group">
  <button class="btn btn-primary">Register</button>
</div>

</div>
</form>