<div class="example-container">
  <mat-toolbar  class="example-toolbar1">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Gestion Administrativa</h1>
    <span class="example-spacer"></span>

    <mat-form-field>
      <mat-select placeholder="Mes">
        <mat-option *ngFor="let mes of meses" [value]="mes.value">
          {{mes.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Periodo">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon class="example-icon">settings</mat-icon>
    <mat-icon class="material-icons">notifications</mat-icon>
    <mat-icon class="example-icon">power_settings_new</mat-icon>
  </mat-toolbar>



<mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>

        <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
                <a mat-menu-item  [routerLink]="[item.route]"
                          [routerLinkActive]="['active']"
                          [routerLink]="">
                <mat-icon class="tc-blue-grey-700">{{item.icon}}</mat-icon>
                {{item.title}}
                </a>
                  
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!--<mat-toolbar color="success">-->
          <mat-toolbar style="background: #faf9d7;height: 8%;">
          <span>Titulo de Formulario</span>
          <span class="example-spacer"></span>
          <mat-icon color="primary" class="example-icon">print</mat-icon>
          <mat-icon color="primary" class="example-icon">notifications</mat-icon>
          <mat-icon color="primary" class="example-icon">settings</mat-icon>     
          </mat-toolbar>

      <router-outlet></router-outlet>
   </mat-sidenav-content>

      

</mat-sidenav-container>
</div>
<!--
<mat-sidenav-container>
  
  <mat-sidenav #sidenav>
      <mat-nav-list>
        <h2 mdSubheader>Here are some links to help you start: </h2>
        <a mat-list-item target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a>
        <a mat-list-item target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
        <a mat-list-item target="_blank" href="https://blog.angular.io/">Angular blog</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
      <button type="button" mat-button (click)="sidenav.open()">Menu</button>
      <h1>Welcome to {{title}}!</h1>
  </mat-toolbar>

  <div class="content">
      <img width="300" src="data:image/svg+xml;base64,AquiVaElBase64">
  </div>
  
</mat-sidenav-container>
-->


