<mat-toolbar-row style="background: #f3ffdc;color: darkgray; height: 40px; ">
  <span>Registro Detalle - Cotizacion</span>
  <span style="flex: 1 1 auto;" class="example-spacer"></span>
  <mat-form-field class="pantallafiltro">
    <input matInput placeholder="Filtro">
  </mat-form-field>
  <button mat-stroked-button class="botonimprimir" (click)="openPrint()">
    Imprimir</button>
  <button mat-stroked-button ng-click="isValid = !isValid" (click)="addRecord()" class="botonnuevo">
    Nuevo</button>
  <button mat-stroked-button (click)="deleteAllSelecteds()" class="botoneliminar" color="warn">
    Eliminar</button>
</mat-toolbar-row>



<div class="button-row">
  <section class='tableSection'>
    <div class="spinner-container">
      <!--<mat-spinner></mat-spinner>-->
    </div>
    <div [hidden]="!edit">
      <app-editcotizaciondetalle [idMaster]="idMaster" [id]="selectedId" (back)="showDataTable()" (update)="updateDataTable($event)"></app-editcotizaciondetalle>
    </div>
    <div>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>


        <!--displayedColumns: string[] = ['select', 'id', 'codigo', 'ruc' , 'nombre', 'telefono1', 'correo', 'options']; Name Column -->


        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> CODIGO</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.codigo}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef> DESCRIPCION</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descripcion}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="desunimed">
          <mat-header-cell *matHeaderCellDef> UNIMED</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.desunimed}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef> CANTIDAD</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cantidad}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio">
          <mat-header-cell *matHeaderCellDef> PRECIO</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.precio}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="imptotal">
          <mat-header-cell *matHeaderCellDef> TOTAL</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.imptotal}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef> Options</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button (click)="editRecord(row.id)" mat-icon-button color="accent">
              <mat-icon style="color: steelblue;vertical-align:baseline" aria-label="Edit">edit</mat-icon>
            </button>

            <button (click)="delete(row.id)" mat-icon-button color="accent">
              <mat-icon style="color: steelblue;vertical-align:baseline" aria-label="Delete">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Disclaimer column -->


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row matRipple routerLink="/cotizacion" routerLinkActive="editRecord(row.id)" class="element-row"
          *matRowDef="let row; columns: displayedColumns;">
        </mat-row>


      </mat-table>

      <div style="float: right">


        <div class="button-row" >
          <div>
            <input style="background: aliceblue" disabled value="     Sub Total:">
            <input disabled value="0.00">
            <input disabled>
          </div>
          <div>
              <input disabled value="   Descuento:">
              <input disabled value="0.00">
              <input disabled>
          </div>
          <div>
              <input disabled value="    IGV 18% :">
              <input disabled value="0.00">
              <input disabled>
          </div>
          <div>
              <input disabled value="Total General:">
              <input disabled value="0.00">
              <input disabled>
          </div>
        </div>
      </div>


    </div>