
<mat-card>
          <mat-toolbar style="background: #f3ffdc;color: darkgray;">
          <span>Titulo de Tabla 1</span>
          <span class="example-spacer"></span>
          
          <mat-icon  color="primary" class="example-icon" style="margin-left: 70%;padding: 10px;">print</mat-icon>
          <mat-icon  color="primary" class="example-icon" style="padding: 10px;">note_add</mat-icon>
          <mat-icon  color="primary" class="example-icon" style="color: red;">delete_sweep</mat-icon>     
          </mat-toolbar>

    
<mat-tab-group>
<mat-tab label="Lista">

<br />
<div class="button-row">
  <div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

        <section class='tableSection'>
        <mat-table [dataSource]="clientes" class="mat-elevation-z8">
              <li *ngFor="let book of promisclientes | async" >
              </li>
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef> codigo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="options">
                  <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                        <button (click)="deleteRecord(row.id)" mat-icon-button color="accent">
                        <mat-icon style="color: steelblue;"  aria-label="Edit">edit</mat-icon>
                      </button>

                      <button (click)="editRecord(row.id)" mat-icon-button color="accent">
                        <mat-icon style="color: steelblue;" aria-label="Delete">delete</mat-icon>
                      </button>
                  </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
             

            </mat-table>
            <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
            </section>
</div>

<br />
</mat-tab>

  <mat-tab label="Detalle">

    <br />
    <div class="button-row">

        <section flex-container fxLayout="column" fxLayoutAlign="space-around center">

            <div mat-dialog-title>
                <h2>Edit Member</h2>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Company (disabled)" disabled value="Google">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="First name">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Long Last Name That Will Be Truncated">
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Address 2"></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="City">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="State">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
      <mat-hint align="end"></mat-hint>
    </mat-form-field></td>
  </tr></table>
</form>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

            </div>
         
        </section>       
      </div>

      <br />
  </mat-tab>
</mat-tab-group>
</mat-card>

