<form [formGroup]="registerForm">
  <div class="example-container">
    <table class="example-full-width" cellspacing="0">
<!--       <td>
        <mat-form-field>
          <input matInput formControlName="codigo"  class="form-control" placeholder="Codigo" disabled>
        </mat-form-field>
      </td> -->

      <td>
        <mat-form-field style="width: 300px;">
          <input #inputNombre matInput formControlName="nombre" class="form-control" placeholder="Nombre" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput formControlName="ruc" class="form-control" placeholder="RUC/DNI/OTR" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput formControlName="telefono1" class="form-control" placeholder="Telefono1" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput formControlName="telefono2" class="form-control" placeholder="Telefono2" />
        </mat-form-field>
      </td>
    </table>
    <table class="example-full-width" cellspacing="0">
      <mat-form-field style="width: 500px;">
        <input matInput formControlName="direccion" class="form-control" placeholder="Direccion" />
      </mat-form-field>
      <td></td>
      <mat-form-field style="width: 300px;">
        <input matInput formControlName="correo" class="form-control" placeholder="Correo" />
      </mat-form-field>
      <td></td>
    </table>

    <table class="example-full-width" cellspacing="0">
      <td></td>
      <mat-form-field>
        <input matInput formControlName="contacto" class="form-control" placeholder="Contacto" />
      </mat-form-field>
      <td></td>
      <mat-form-field>
        <input matInput formControlName="telcontacto" class="form-control" placeholder="Telf. contacto" />
      </mat-form-field>
      <td></td>
      <mat-form-field>
        <input matInput formControlName="paginaweb" class="form-control" placeholder="Pagina Web" />
      </mat-form-field>
      <td></td>
    </table>
    <table class="example-full-width" cellspacing="0">
      <mat-form-field>
        <mat-select formControlName="banco_nombre1" class="form-control" placeholder="Banco" [(value)]="selectedban">
          <mat-option class="pantallafiltro" *ngFor="let ban of bancos" [value]="ban.codigo">
            {{ban.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <td></td>
      <mat-form-field>
        <input matInput formControlName="banco_cuenta1" class="form-control" placeholder="Numero de Cta" />
      </mat-form-field>
      <td></td>
      <mat-form-field>
        <mat-select formControlName="banco_moneda1" class="form-control" placeholder="Moneda" [(value)]="selectedmon">
          <mat-option class="pantallafiltro" *ngFor="let mon of monedas" [value]="mon.codigo">{{mon.descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
      <td></td>
    </table>
    <table class="example-full-width" cellspacing="0">
      <!--      <mat-form-field>
        <input matInput formControlName="banco_nombre2" class="form-control" placeholder="banco 2" />
      </mat-form-field> -->

      <mat-form-field>
        <mat-select formControlName="banco_nombre2" class="form-control" placeholder="Banco 2" [(value)]="selectedban2">
          <mat-option class="pantallafiltro" *ngFor="let ban of bancos" [value]="ban.codigo">
            {{ban.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <td></td>
      <mat-form-field>
        <input matInput formControlName="banco_cuenta2" class="form-control" placeholder="Numero de Cta 2" />
      </mat-form-field>
      <td></td>
<!--       <mat-form-field>
        <input #inputs matInput formControlName="banco_moneda2" class="form-control" placeholder="banco_moneda2" />
      </mat-form-field> -->
      <mat-form-field>
        <mat-select formControlName="banco_moneda1" class="form-control" placeholder="Moneda" [(value)]="selectedmon2">
          <mat-option class="pantallafiltro" *ngFor="let mon2 of monedas" [value]="mon2.codigo">{{mon2.descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
      <td></td>
    </table>
    <table class="example-full-width" cellspacing="0">
      <!--
      <mat-form-field style="width:45%">
        <input matInput formControlName="fechanac" type="date" class="form-control" [matDatepicker]="picker" placeholder="Fecha Nac.">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      -->
      <mat-form-field style="width:65%">
        <input #inputs matInput type="date" formControlName="fechanac" class="form-control" placeholder="Fechanac" />
      </mat-form-field>
      <td></td>

      <mat-form-field style="width:65%">
        <input #inputs matInput type="date" formControlName="fechaini" class="form-control" placeholder="Fechaini" />
      </mat-form-field>
      <td></td>
      <mat-form-field style="width:65%">
        <input #inputs matInput type="date" formControlName="fechafin" class="form-control" placeholder="Fechafin" />
      </mat-form-field>
      <td></td>
    </table>
    <!--     <table class="example-full-width" cellspacing="0">


      <mat-form-field>
        <input matInput formControlName="tipocc" class="form-control" placeholder="tipocc" />
      </mat-form-field>
      <td></td>
      <mat-form-field>
        <input matInput formControlName="destipocc" class="form-control" placeholder="destipocc" />
      </mat-form-field>
      <td></td>
      <mat-form-field>
        <input matInput formControlName="condcompvent" class="form-control" placeholder="condcompvent" />
      </mat-form-field>
      <td></td>
    </table> -->

    <br><br>

<!--     
    <div class="form-group">
      <button style="margin-right: 8px" mat-raised-button color="warn" matTooltip="Grabar info" [disabled]="!registerForm.valid"
        *ngIf="id" (click)="saveForm()">
        <mat-icon>save</mat-icon>
      </button>

      <button style="margin-right: 8px" mat-raised-button color="accent" matTooltip="Grabar Nuevo" [disabled]="!registerForm.valid"
        *ngIf="!id" (click)="saveForm(true)">
        <mat-icon>done</mat-icon>
      </button>

      <button style="margin-right: 8px" mat-raised-button color="primary" matTooltip="Grabar Nuevo" (click)="onBack()">
        <mat-icon>undo</mat-icon>
      </button>
    </div> -->
    <button mat-stroked-button  (click)="onBack()"  class="botonvolver" >
        Volver</button>
        
    <button mat-stroked-button  [disabled]="!registerForm.valid"
    *ngIf="id" (click)="saveForm()"  class="botonvolver" >
        Grabar</button>

    <button mat-stroked-button  [disabled]="!registerForm.valid"
    *ngIf="!id" (click)="saveForm(true)"  class="botonvolver" >
        Grabar</button>


  </div>
</form>