
  <mat-toolbar-row style="background: #f3ffdc;color: darkgray; height: 40px; ">
      <span>Registro Principal - Cotizacion</span>
      <span style="flex: 1 1 auto;" class="example-spacer"></span>
      <mat-form-field class="pantallafiltro">
        <input matInput placeholder="Filtro">
      </mat-form-field>
      <button mat-stroked-button class="botonimprimir" (click)="openPrint()">
        Imprimir</button>
      <button mat-stroked-button ng-click="isValid = !isValid" (click)="addRecord()" class="botonnuevo">
        Nuevo</button>
      <button mat-stroked-button (click)="deleteAllSelecteds()" class="botoneliminar" color="warn">
        Eliminar</button>
    </mat-toolbar-row>

      <div class="button-row">
        <section class='tableSection'>
          <div class="spinner-container">
            <!--<mat-spinner></mat-spinner>-->
          </div>
          <div [hidden]="edit">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="codigo">
                  <mat-header-cell *matHeaderCellDef> CODIGO</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.codigo}}</mat-cell>
                </ng-container>

              <ng-container matColumnDef="fechadoc">
                <mat-header-cell *matHeaderCellDef> FECHA</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.fechadoc}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="ruc">
                <mat-header-cell *matHeaderCellDef> RUC/DNI/OTR</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ruc}}</mat-cell>
              </ng-container>
            
              <ng-container matColumnDef="desruc">
                <mat-header-cell *matHeaderCellDef> NOMBRE</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.desruc }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="unidadtransporte">
                <mat-header-cell *matHeaderCellDef> UNIDAD</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.unidadtransporte }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="telruc">
                <mat-header-cell *matHeaderCellDef> TELEFONO</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.telruc }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="correoruc">
                <mat-header-cell *matHeaderCellDef> CORREO</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.correoruc }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef> ESTADO</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.estado }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef> Options</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button (click)="editRecord(row)" mat-icon-button color="accent" >
                    <mat-icon style="color: steelblue;vertical-align:baseline" aria-label="Edit">edit</mat-icon>
                  </button>

                  <button  (click)="delete(row.id)" mat-icon-button color="accent" >
                    <mat-icon style="color: steelblue;vertical-align:baseline" aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

              <mat-row
                (click)="viewRecorddetail(row)"
                matRipple
                routerLink="/cotizacion"
                routerLinkActive="editRecord(row.id)"
                class="element-row"
                [ngClass]="{ 'selected': row.id === cotizacionSelected?.id }"
                *matRowDef="let row; columns: displayedColumns;">
              </mat-row>

            </mat-table>
            <mat-paginator #paginator
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
            

          </div>
          <div [hidden]="!edit">
            <app-editcotizacion [id]="selectedId" (back)="showDataTable()" (update)="updateDataTable($event)"></app-editcotizacion>
          </div>
        </section>
      </div>
